@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.team-member h3 {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    color: #000000;
    margin-bottom: 0.5em;
}

.home-container {
    width: 100%;
    height: 70vh; /* Changed to 100vh to cover the entire viewport */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececec;
}

.profile-card {
    position: relative;
    width: 220px;
    height: 220px;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
    transition: all .4s;
    margin: 10px 20px;
}

@media screen and (max-width: 768px) {
    .home-container {
        flex-wrap: wrap;
    }
    .profile-card {
        width: 150px;
        height: 150px;
        margin: 10px;
    }
}

.profile-card:hover {
    border-radius: 20px;
    height: 260px;
}

.profile-card .img {
    position: relative;
    width: 100%; /* Changed to 100% to make the image fill the profile card */
    height: 100%; /* Changed to 100% to make the image fill the profile card */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card:hover img {
    border-radius: 20px;
    transform: translateY(-65%); /* Adjusted the value for better visual */
}

.img img {
    object-fit: cover;
    width: 70%;
    height: 70%;
    transition: all .4s;
    z-index: 99;
    border-radius: 60px;
}

.caption {
    text-align: center;
    transform: translateY(-100%); /* Adjusted the value for better visual */
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.profile-card:hover .caption {
    opacity: 1;
    pointer-events: all;
}

.caption h3 {
    font-size: 21px;
    color: #0c52a1;
    font-weight: 600;
}

.caption p {
    font-size: 15px;
    font-weight: 500;
    margin: 2px 0 12px 0;
}

.caption .social-links i {
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
    color: #333;
    transition: all .4s;
}

.caption .social-links i:hover {
    color: #0c52a1;
}
