@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap";

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    transition: all .2s linear
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem
}

html::-webkit-scrollbar {
    width: 1rem
}

html::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0)
}

html::-webkit-scrollbar-thumb {
    background:  #aa69ba
}

@keyframes fadeIn {
    0% {
        transform: translateY(-2rem);
        opacity: 0
    }
}

section {
    padding: 5rem 1rem
}


.link-btn {
    margin-top: 1rem;
    padding: 1rem 3rem;
    display: inline-block;
    border: .1rem solid  #aa69ba;
    color:  #aa69ba;
    background: none;
    cursor: pointer;
    font-size: 1.7rem
}

.link-btn:hover {
    background:  #aa69ba;
    color: #fff
}

.heading {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: #222
}

.header {
    z-index: 1000;
    padding: 4rem 0;
}

.header.active {
    padding: 2rem 0;
    background: #aa69ba;
    opacity: 0.89;
}

.header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder
}

.header .nav a {
    font-size: 2rem;
    margin-right: 2rem;
    color: #fff
}

.header .nav a:hover {
    text-decoration: underline !important;
    text-underline-offset: .5rem
}

.header .icons div {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 2rem;
    cursor: pointer
}

.header #menu-btn {
    display: none;
}

.header #team_logo{
    width: 6%;
}

.login-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 2rem
}

.login-form.active {
    display: flex
}

.login-form form {
    width: 50rem;
    padding: 4rem;
    background: #fff;
    text-align: center;
    position: relative;
    animation: fadeIn .2s linear
}

.login-form form #close-login-form {
    position: absolute;
    top: -4rem;
    right: 0;
    font-size: 3rem;
    cursor: pointer;
    color: #fff
}

.login-form form #close-login-form:hover {
    transform: rotate(90deg)
}

.login-form form .logo {
    font-size: 2.5rem;
    color:  #aa69ba;
    font-weight: bolder
}

.login-form form h3 {
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: #222;
    margin-top: 1rem
}

.login-form form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: .1rem solid #aa69ba;
    font-size: 1.6rem;
    margin: 1rem 0
}

.login-form form .flex {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 1rem 0
}

.login-form form .flex label {
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
    cursor: pointer
}

.login-form form .flex a {
    font-size: 1.5rem;
    color:  #aa69ba;
    margin-left: auto
}

.login-form form .flex a:hover {
    text-decoration: underline !important
}

.login-form form .link-btn {
    width: 100%;
    margin-bottom: 2rem
}

.login-form form .account {
    padding: 1.5rem .5rem;
    background: #eee;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0
}

.login-form form .account a {
    color:  #aa69ba
}

.login-form form .account a:hover {
    text-decoration: underline !important
}

.home {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/baby-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed
}

.home span {
    font-size: 2.5rem;
    color: #fff
}

.home h3 {
    padding: 1rem 0;
    font-size: 6rem;
    color: #fff
}

.home .link-btn {
    color: #fff;
    border-color: #fff
}

.about span {
    font-size: 2.5rem;
    color:  #aa69ba
}

.about .title {
    padding-top: 1rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: #222
}

.about p {
    padding: 1rem 0;
    font-size: 1.6rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0
}

.about .icons-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 1.5rem
}

.about .icons-container .icons {
    padding: 2rem;
    background: #eee;
    text-align: center;
    flex: 1 1 14rem
}

.about .icons-container .icons i {
    font-size: 4rem;
    margin-bottom: 1.5rem;
    color:  #aa69ba
}

.about .icons-container .icons h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #222;
}

.menu {
    background: #eee;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.menu .box-container .box {
    text-align: center;
    padding: 3rem 2rem;
    border-radius: .5rem;
    
}

.menu .box-container .box:hover {
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transform: translateY(-1rem);
}

.menu .box-container .box:hover i{
    transition: transform 0.6s ease;
    transform: rotate(360deg);
}

.menu .box-container .box i {
    font-size: 4em;
    margin-bottom: .4em;
}

.menu .box-container .box img {
    height: 15rem;
    margin-bottom: 2rem
}

.menu .box-container .box h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #222
}

.menu .box-container .box p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0
}

.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem
}

.gallery .box-container .box {
    overflow: hidden;
    position: relative;
    height: 25rem
}

.gallery .box-container .box:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid  #aa69ba
}

.gallery .box-container .box:hover img {
    transform: translateY(-100%)
}

.gallery .box-container .box:hover .content {
    transform: translateY(0)
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.gallery .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    text-align: center;
    padding: 3rem 2rem;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    padding-top: 4rem
}

.gallery .box-container .box .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #222
}

.gallery .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0
}


/* expert reviews start */

.reviews {
    background: #eee;
}

.container6 {
    background-color: #e9d6ee;
    max-width: 120rem;
    margin: 10rem auto;
    border-radius: 10px;
    padding: 8rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8rem;
}

.wrapper {
    height: 40rem;
}

.card {
    height: 100%;
    perspective: 1500px;
    -webkit-perspective: 1000px;
    position: relative;
    background-color: #ebc4f8;
    border-radius: 10px;
}

.card__side {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: all 0.8s ease;
    overflow: hidden;
    text-align: center;
}

.card__side--front {
    background-color: #fff;
}

.card__side--back {
    background: linear-gradient(to right bottom, #c265c5, #dd93d3);
    transform: rotateY(180deg);
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0deg);
}

.card__image {
    margin: 5rem 0;
    margin-top: 7rem;
}

.card__image--round {
    width: 12rem;
    height: 12rem;
    clip-path: circle(50% at 50% 50%);
}

.card__username {
    color: #13293d;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

.card__features ul {
    list-style: none;
    padding: 0;
}

.card__features ul li {
    text-align: center;
    font-size: 1.8rem;
}

.card__features ul li:not(:last-child) {
    margin-bottom: 1.3rem;
}

.card__text {
    color: #fff;
}

.card__text--small {
    text-transform: uppercase;
    font-weight: 20;
    font-size: 1.5rem;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Media Queries for Responsive Design */

/* For Phones (up to 768px) */
@media (max-width: 768px) {
    .container6 {
        grid-template-columns: 1fr;
        margin: 5rem auto;
        padding: 4rem;
    }

    .card__image {
        margin-top: 3rem;
    }

    .card__username {
        font-size: 2rem;
    }

    .card__features ul li {
        font-size: 1.5rem;
    }
}

/* For Tablets (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .container6 {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4rem;
    }
}

 /* expert reviews end */


.blogs {
    background: #eee
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem
}

.blogs .box-container .box:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background: #fff
}

.blogs .box-container .box:hover .image {
    padding: 2rem
}

.blogs .box-container .box:hover .icons {
    border-top: .1rem solid  #aa69ba
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden
}

.blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.blogs .box-container .box .content {
    padding: 2rem;
    text-align: center
}

.blogs .box-container .box .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #222
}

.blogs .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0
}

.blogs .box-container .box .icons {
    padding: 1.7rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem
}

.blogs .box-container .box .icons span {
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #222
}

.blogs .box-container .box .icons span i {
    padding-right: .5rem;
    color:  #aa69ba
}

/* footer starts */
.footer {
    background-color: hsl(288, 52%, 68%);
    padding: 10px;
    text-align: center;
  
  }
  
  .social_icon a {
    font-size: 20px;
    width: 20px;
    margin: 5px;
    color: #333; /* Sosyal medya logosu rengi */
    transition: transform 0.3s ease-in-out;
  }
  
  .social_icon a:hover {
    transform: scale(1.1); /* Logoların %10 büyütülmesi */
  }
  
  .footer nav a {
    text-decoration: none;
    color: #333;
    margin: 5px;
  }
  
  .footer nav a:hover {
    color: #535151;
  }
  
  .footer .credit {
    margin-top: 20px;
    font-size: 12px;
    color: #535151;
  }
  
  .footer .credit span {
    font-weight: bold;
  }
  
/* footer ends */

.price-plan {
    background-color: #fff;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, .5);
    border-radius: 4px;
    flex: 1;
    padding: 30px 30px 30px;
    margin: 2%;
    min-width: 200px;
    max-width: 300px;
    text-align: center
}

.fancy {
    margin-top: 20px;
    margin-bottom: 20px;
    transform: scale(1.1);
    background-image: url(http://www.webdesignhot.com/wp-content/uploads/2015/08/Colorful-Low-Poly-Abstract-Background-Vector-Illustration.jpg);
    background-size: 200% 200%;
    background-position-x: 50%;
    color: #fff
}

.price-points {
    list-style-type: none;
    padding: 0px;
    font-size: 1.5em
}

.price-points li {
    padding: 10px 0px
}

.price-points li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.price {
    font-size: 32px;
    font-weight: 300
}

.price sub,
.price sup {
    font-size: 16px;
    font-weight: 100
}

.polyFirst {
    width: 130px;
    padding: 10px 10px;
    border: none;
    background-image: url(http://www.webdesignhot.com/wp-content/uploads/2015/08/Colorful-Low-Poly-Abstract-Background-Vector-Illustration.jpg);
    background-size: 300%;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: .5s
}

.polyFirst:hover {
    background-size: 150%;
    transition-duration: .3s;
    transform: scale(1.2)
}

.polyFirst:active {
    transform: scale(1.15);
    transition-duration: .1s
}

.polyFourth {
    width: 150px;
    padding: 10px 18px;
    border: none;
    background-color: #fff;
    background-size: 300%;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: .5s
}

.polyFourth:hover {
    background-size: 150%;
    transition-duration: .3s;
    transform: scale(1.2)
}

.polyFourth:active {
    transform: scale(1.15);
    transition-duration: .1s
}

.poly2 {
    background-position-x: 15%
}

.poly3 {
    background-position-x: 45%
}

@media(max-width: 992px) {
    html {
        font-size: 55%;
        scroll-padding-top: 8rem
    }

    .home h3 {
        font-size: 4rem
    }

    section {
        padding: 3rem 0
    }

    #team_logo{
        display: none;
    }
}



@media(max-width: 768px) {

    .header #menu-btn {
        display:contents;
    }


    .login-form form {
        padding: 3rem 2rem
    }

    .login-form form h3 {
        font-size: 1.7rem
    }

    .header {
        padding: 4rem 2rem
    }

    .header.active {
        padding: 2rem
    }

    .header .nav {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #fff;
        flex-flow: column;
        padding: 1rem 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
    }

    .header .nav.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }

    .header .nav a {
        margin: 1rem 2rem;
        color: #222
    }

    .contact .map {
        height: 25rem
    }
}

@media(max-width: 450px) {
    html {
        font-size: 50%
    }
    
}
