@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  
  html::-webkit-scrollbar {
    width: 1rem;
  }
  
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  
  html::-webkit-scrollbar-thumb {
    background: #d93ce5;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      -webkit-transform: translateY(-2rem);
              transform: translateY(-2rem);
      opacity: 0;
    }
  }

  section {
    padding: 5rem 1rem;
  }
  
  .link-btn {
    margin-top: 1rem;
    padding: 1rem 3rem;
    display: inline-block;
    border: 0.1rem solid #d93ce5;
    color: #d93ce5;
    background: none;
    cursor: pointer;
    font-size: 1.7rem;
  }
  
  .link-btn .logo{
    margin-right: 3;
  }
  .link-btn:hover {
    background: #d93ce5;
    color: #fff;
  }

  .heading {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 3rem;
    text-transform: capitalize;
    color: #222;
  }
  
  .header {
    z-index: 1000;
    padding: 4rem 0;
  }
  
  .header.active {
    padding: 2rem 0;
    background: #d93ce5;
    opacity: 0.95;
  }
  
  .header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
  }
  
  .header .nav a {
    font-size: 2rem;
    margin-right: 2rem;
    color: #fff;
  }
  
  .header .nav a:hover {
    text-decoration: underline !important;
    text-underline-offset: .5rem;
  }
  
  .header .icons div {
    font-size: 2.5rem;
    color: #fff;
    margin-left: 2rem;
    cursor: pointer;
  }
  
  .header #menu-btn {
    display: none;
  }
  .login-form {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
  
  .login-form.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .login-form form {
    width: 50rem;
    padding: 4rem;
    background: #fff;
    text-align: center;
    position: relative;
    -webkit-animation: fadeIn .2s linear;
            animation: fadeIn .2s linear;
  }
  
  .login-form form #close-login-form {
    position: absolute;
    top: -4rem;
    right: 0;
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
  }
  
  .login-form form #close-login-form:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  
  .login-form form .logo {
    font-size: 2.5rem;
    color: #512a10;
    font-weight: bolder;
  }
  
  .login-form form h3 {
    padding: 1rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: #222;
    margin-top: 1rem;
  }
  
  .login-form form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #512a10;
    font-size: 1.6rem;
    margin: 1rem 0;
  }
  
  .login-form form .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
    margin: 1rem 0;
  }
  
  .login-form form .flex label {
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
    cursor: pointer;
  }
  
  .login-form form .flex a {
    font-size: 1.5rem;
    color: #512a10;
    margin-left: auto;
  }
  
  .login-form form .flex a:hover {
    text-decoration: underline !important;
  }
  
  .login-form form .link-btn {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .login-form form .account {
    padding: 1.5rem .5rem;
    background: #eee;
    font-size: 1.5rem;
    line-height: 2;
    color: #666;
    margin-bottom: 0;
  }
  
  .login-form form .account a {
    color: #512a10;
  }
  
  .login-form form .account a:hover {
    text-decoration: underline !important;
  }
  .meetings {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/meet-bg.jpg) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/meet-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .meetings span {
    font-size: 2.5rem;
    color: #fff;
  }
  
  .meetings h3 {
    padding: 1rem 0;
    font-size: 4rem;
    color: #fff;
  }

  .footer {
    text-align: center;
  }
  
  .footer .logo {
    font-size: 3rem;
    color: #d93ce5;
    font-weight: bolder;
  }
  
  .footer .credit {
    margin: 2rem 0;
    font-size: 2rem;
    text-transform: capitalize;
    color: #222;
  }
  
  .footer .credit span {
    text-decoration: underline !important;
  }
  
  .footer .share {
    margin-top: 3rem;
  }
  
  .footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: 0.1rem solid #d93ce5;
    color: #d93ce5;
    margin: 0 .3rem;
  }
  
  .footer .share a:hover {
    background: #d93ce5;
    color: #fff;
  }
  @media (max-width: 991px) {
    html {
      font-size: 55%;
      scroll-padding-top: 8rem;
    }
    .home h3 {
      font-size: 4rem;
    }
    section {
      padding: 3rem 0;
    }
  }
  @media (max-width: 768px) {
    .login-form form {
      padding: 3rem 2rem;
    }
    .login-form form h3 {
      font-size: 1.7rem;
    }
}
@keyframes buttonAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}  
