$mid-grey:#555353;
$charcoal:#373737;
$font-weight:500;
$font-size:14px;
$font-paragraph:"Source Sans Pro";
$font-heading:"Roboto";

body {
	font:$font-weight $font-size $font-paragraph;
	color:$mid-grey;
}

//HEADINGS
h1, h2, h3, h4 {
	color:$charcoal;
}

h1 {
	font-size: 2.5em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    background-size: cover;
    padding: 20px;
}

h2 {
	font-size:1.8em;
	font-weight:700;
}

h3 {
	font-size:1.6em;
	font-weight:700;
}

h4 {
	font-size:1.4em;
}

a {
	text-decoration:none;
}

p {
    line-height:1.9em;
    margin:2em 0;
    font-size:1.1em;
    
    font-weight: 500;
}

/* Scrollbar Css Start */ 

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #512a10;
}

/* Scrollbar End */ 

/* Header Section Start */
header {
  background: linear-gradient(to right, #512a10, #a65725);
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  margin-right: 20px;
  list-style: none;;
}

.nav-menu li:last-child {
  margin-right: 0;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-menu li a:hover {
  color: #f5ebeb;
}
/* Header Section End */


/* Blog Section Section Starts */
.blog-post {
    width:80%;
    max-width:1100px;
    background:white;
    margin:20px auto 0;   
    border:1px solid #f4f4f4;
    box-shadow:0 0 25px rgba(0,0,0,.05);
}

.blog-hero {
    width:80%;
    height:0;
    padding-bottom:30%;
    background-position: 20% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Gölge efekti */
}

/* Summary Attribute Section Starts */
summary {
    margin-top:20px;
    display:inline-block;
}
summary h3 {
    width:100%;
    font-size:2.5em;
    color:#555;
    font-weight: 500;
}

summary .blog-date {
    width:100%;
    font-size:15px;
    padding-left:2px ;
    color:#909090;
}
/* Summary Attribute Section Ends */

article {
    padding-bottom:50px;
}

.blog-content {
    width:60%;
    margin:auto;
    text-align: justify;
}

.blog-img {
    width:60%;
    height: 0;
    margin:50px auto 60px;
    padding-bottom:35%;
    background-position: center center;
    background-size:cover;
    position:relative;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Gölge efekti */
}

.blog-img-caption {
    position:absolute;
    bottom:-30px;
    font-size:.9em;
    color:#888;
    left:4%;
}

/* Blog Attribute Section Ends */

.source{
  background-color: ghostwhite;
  padding: 2em;
  border-radius: 10px;
}

$primary-color: #333;
$secondary-color: #888;

.related-posts {
  margin-top: 30px;

  h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .post-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    li {
      flex: 0 0 auto;
      width: 35%;
      display: flex;
      margin-right: 20px;

      .post-thumbnail {
        width: 150px;
        height: 150px;
        margin-right: 10px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .post-info {
        flex-grow: 1;

        h4 {
          font-size: 1.2em;
          font-weight: bold;
          margin-top: 15px;
        }

        .post-date {
          font-size: 0.9em;
          color: $secondary-color;
          margin: 2px 0;
        }
      }
    }
  }
  }

b {
    font-weight:bold;
}

/* Blockquote Section Start */
blockquote {
    margin: 20px 0;
    padding: 10px;
    background-color: #f5f5f5;
    border-left: 3px solid #ccc;
  }
  
  blockquote p {
    font-size: 1.1em;
    font-style: italic;
    line-height: 1.6;
  }
  
  blockquote footer {
    margin-top: 10px;
    font-size: 0.9em;
    color: #888;
  }
/* Blockquote Section Start */

/* Author Section Start */
  .author-info {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-name {
    font-weight: bold;
  }
  
  .written-by {
    margin-top: 5px;
    font-size: 0.9em;
  }
/* Author Section Ends */

@media (min-width:601px) and (max-width:1000px){
    .blog-post {
        width:90%;
    }
    .blog-content {
        width:75%;
    }
  
    .blog-hero {
        padding-bottom:35%;
    }
}

@media (max-width:600px){
    .blog-post {
        font-size:.9em;
        width:90%;
    }
    .blog-content {
        width:80%;
    }
    .blog-img {
        width:90%;
        padding-bottom: 50%;
    }
    .blog-hero {
        padding-bottom:60%;
    }
}
